<html>

<head>
    <meta http-equiv="refresh" content="5;url=/" />
    <script src="jquery-3.4.1.min.js"></script>
</head>

<body>
    <h1>There has been an error with your input, please wait 5 seconds to be redirected.</h1>
</body>

</html>