<html>

<head>
    <title>Makers BnB</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
</head>

<body>
    <div class="topnav">
        <a>Makers BnB</a>
        <a class="hover" href="/">Home</a>
        <a class="hover" href="/login">Login</a>
        <a class="hover" href="/register">Register</a>
        <a class="active" href="/list">List a space</a>
        <input class="searchbar" type='text' placeholder="Search space's..">
    </div>
</body>

</html>