<html>
  <head>
      <meta http-equiv="refresh" content="10;url=/login" />
  </head>
  <body>
    <h1>Your credentials did not match our records, Please wait 10 seconds to be redirected.</h1>
  </body>
</html>