<html>

<head>
  <title>Makers BnB</title>
  <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
  <div class="topnav">
    <a>Makers BnB</a>
    <a class="hover" href="/">Home</a>
    <a class="hover" href="/login">Login</a>
    <a class="active" href="/register">Register</a>
    <a class="hover" href="/list">List a space</a>
  </div>
</body>

<head>

<body>
  <h1>Registration</h1>
  <form method="POST" action="/register">
    <input type="text" name="firstname" placeholder="firstname" />
    <input type="text" name="surname" placeholder="surname" />
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="Password" />
    <input type="text" name="confirmpassword" placeholder="confirmPassword" />
    <input type="submit" value="submit" />
  </form>
</body>
</head>

</html>