<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  <title>Hello, world!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MakersBnB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">List a Space</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">Register <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <% if (user){ %>
      <span class="navbar-text" id="usertext"><%= user["firstName"] %></span>
      <% }else { %>
      <span class="navbar-text" id="usertext">Guest</span>
      <% } %>
    </div>
  </nav>


  <div id="parent">
    <div id="child">
      <form method="POST" action="/register">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname" id="form-label">First Name</label>
            <input type="name" class="form-control" name="firstname" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="surname" id="form-label">Surname</label>
            <input type="name" class="form-control" name="surname" placeholder="Surname">
          </div>
        </div>
        <div class="form-group">
          <label for="email" id="form-label">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password" id="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Make sure your password is between 8 - 30 characters
              and
              contain atleast 1 number</small>
          </div>
          <div class="form-group col-md-6">
            <label for="confirmpassword" id="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="form-button">Submit</button>
      </form>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>