<html>
  <head>
      <meta http-equiv="refresh" content="10;url=/register" />
  </head>
  <body>
    <h1>Your passwords either didnt match or you left fields empty, Please wait 10 seconds to be redirected.</h1>
  </body>
</html>