
.topnav {
    background-color: rgb(189, 189, 189);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 3px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    margin: 0 auto;
  }
  
  /* Change the color of links on hover */
  .topnav a.hover:hover {
    background-color: rgba(93, 215, 236, 0.65);
    color: black;
    border-left: solid;
    border-right: solid;
    border-width: 3px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(93, 215, 236, 0.65);
    color: black;
    border-left: solid;
    border-right: solid;
    border-width: 3px;
  }
  
  
.topnav input{
    border-style: solid;
    border-width: 2px;
    text-align: left;
    display: inline-block;
}

  .topnav input[type=text] {
    float: none;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 17px;
  }

/* end of navigation bar css here */
/* start of list a space css here */

/* formatting list a space description, title, date and price info boxes */
.inputboxes{ 
       text-align: center;
       margin: 0 auto;
       width: 400px;
       height: 200px;
  }

#description { 
    margin: 0 auto;
    width: 400px;
    height: 200px;
  }

#name {
    width: 400px;
}

#address {
    width: 400px;
}

#startDate {
    width: 400px;
}

#endDate {
    width: 400px;
}

#price {
    width: 400px;
}

/* home page css */

/* search bar formatting */
.searchbar {
    font-size: 17px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

/* space info boxes */

.boxed {
    border: 1px solid black;
}


/* Login CSS */


#form-label{
  font-family: 'Alata', sans-serif;
}

#form-button{
  background-color: #343A40;
  border: transparent;
}

#parent {
  display: table;
  border-spacing: 0px;
  margin: 10% auto 10% auto;
}

#parent-list {
  display: table;
  border-spacing: 0px;
  margin: 1% auto 10% auto;
}

#child {
  display: table-cell;
  padding: 5px;
}

body {
  background-color: rgba(93, 215, 236, 0.65) !important;
}

.center {
  text-align: center;
}


.square {
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: darkgrey;
  margin: auto;
}

.square h1 {
  text-align: center;
}

.square p {
  padding: 20px;
}